@import "../../styles/globalMixins.scss";
.content {
  width: 100%;
  height: 100%;
  background-color: #f2f3f3;

  .header {
    width: 100%;
    height: 50%;
  }

  .stories {
    width: 90%;
    margin: auto;
    display: flex;
    height: 40%;

    .filters {
      flex: 1;
      padding: 10px;
      font-size: 20px;
      cursor: pointer;

      .size-filter {
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        padding: 20px;

        h4 {
          font-size: 22px;
          font-weight: 700;
        }
      }
      .size-filters {
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        padding: 20px;
        color: rgb(57, 145, 238);
        display: none;
        transition: 0.5s ease-in-out;
      }
      .size-filters.show {
        display: block;
      }
    }
    .story {
      flex: 4;
      padding: 10px;

      .selected-filter {
        font-size: 20px;
        color: gray;
        letter-spacing: 2px;
        word-spacing: 3px;
        margin-bottom: 24px;
      }

      .featured-story .customer-story {
        h2 {
          margin-bottom: 15px;
          letter-spacing: 2px;
        }
      }
      .customer-story {
        margin-top: 30px;
      }

      .customer-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
      }
      .customer-cards-mobile {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-content: center;
      }
    }
  }

  .pagination-btn {
    @include d-flex-items-center-content-center;
    margin-top: 30px;
    gap: 10px;
    flex-direction: column;
    height: 100px;

    p {
      font-size: 20px;
      font-weight: 600;
    }
    button {
      @include d-flex-items-center-content-center;
      gap: 10px;
      color: whitesmoke;
      background-color: #0058ca;
      height: 70px;
      width: 195px;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 30px;
      border-radius: 5px;
      font-size: 21px;
    }
  }
}

@media (max-width: 960px) {
  // .options ul {
  //   display: none;
  // }
  // .customer-cards {
  // background-color: aqua;
  // display: grid;
  // grid-template-columns: repeat(1, 1fr);
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // }
  .stories {
    flex-direction: column;
  }
}
